.menu{
  width: 100%;
  background: linear-gradient(45deg,pink,blue);
  border:2px solid grey;
  margin: auto;
  padding: 5px;
}
.menu a{
  display: inline;
  width: 25%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 5%;
  padding: 5px;
  font-size: 18px;
}
.menu a:hover{
  color: rgb(201, 196, 196);
  box-shadow: 1px 1px grey;
  font-size: 17px;
}

.App {
  text-align: center;
  margin-right: 15px; 
  padding: 10px;
}
.register{
  background: linear-gradient(45deg,rgb(231, 231, 142),rgb(88, 198, 218));
  width: 50%;
  margin: 5px;
}
.reg_table{
  margin: auto;
}
.reg_table td{
  padding: 10px;
  height: 20px;
  font-weight: bold;
  font-style: italic;
}
input{
  height: 100%;
  border-radius: 10px;
}
.t_label{
  text-align: right;
}
.reg_btn,.native_btn,.counter p button{
  padding: 10px;
  background: rgb(128, 128, 182);
  color: white;
  margin: 10px 10px;
  border-radius: 4px;
}
.reg_btn:hover{
  background: rgb(138, 138, 216);
}
.native_btn{
  background: rgb(50, 199, 100);
}
.native_btn:hover{
  background: rgb(140, 224, 129);
}
.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 7%;
  color: white;
  margin-right: 15px;
  padding: 10px;
}
.content{
  display: flex;
}
.hobbies{
  margin: 5px;
  background:rgb(231, 193, 233) ;
  height: fit-content;
  padding: 10px;
}
.hobbies table td{
  padding: 10px;
  border: 1px solid green;
}
.native{
  margin: 5px;
  background:rgb(60, 160, 190) ;
  height: fit-content;
  padding: 10px;
}
.native_input{
  height: 30px;
}
.counter{
  margin: 5px;
  background:rgb(183, 230, 144) ;
  height: fit-content;
  padding: 10px 30px;
}
.counter p button{
  margin: 0;
  width: 100%;
  background-color: rgb(238, 132, 224);
}
.counter p button:hover{
  background-color: rgb(219, 53, 197);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media(max-width:901px){
  .content{
    display: block;
    margin: auto;
  }
  .register{
    width: auto;
  }
}